# Site settings
title: Miguel A. Arroyo 
description: A bit about myself

lang: en-US
timezone: US/Pacific
image: 
mode: dark # default theme "dark" | "light"

# Profile settings
author:
  name: Miguel A. Arroyo
  bio: >-
    Game Security Engineer
  username: mayanez
  email: miguel@arroyo.me 
  avatar: /assets/img/avatar.png

github: mayanez
linkedin: maarroyo12
flickr: mayanez
twitter: miguelaarroyo12
scholar: uROt9w4AAAAJ

# Url settings
url: "https://miguel.arroyo.me"
baseurl:
permalink: /:title/

simhaurl: http://www.cs.columbia.edu/~simha/
castlurl: http://castl.cs.columbia.edu

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Build settings
sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md

# Plugins
plugins:
  - jekyll-sass-converter
  - jekyll-sitemap
  - jekyll-github-metadata
  - jekyll-mentions
  - jekyll-redirect-from
  - jekyll-sitemap
  - jemoji
  - rouge
