<section id="resources">
<div class="container">
  <h3>Resources</h3>
  <div class="panel panel-default">
    <div class="panel-body">

    <div class="entry">
        <h5>
            <i class="fa fa-file"></i><strong>&nbsp;&nbsp;Practical Byte-Granular Memory Blacklisting using Califorms</strong>
        </h5>
        <h6><a href="https://doi.org/{{ site.califormsdoi }}">IEEE/ACM International Symposium on Microarchitecture (MICRO) 2019</a>&nbsp;-&nbsp;<small>(DOI: {{ site.califormsdoi }})</small></h6>
        <p></p>
        <ul>
		<li><a href="{{ site.califormspaperurl }}">Paper</a>&nbsp;&nbsp;-&nbsp;&nbsp;<small>(<a href="{{ site.califormsbiburl }}">bib</a>)</small></li>
            <li><a href="#">Slides (Coming Soon)</a></li>
	    <li><a href="{{ site.califormsposterurl }}">Poster</a></li>
	    <li><a href="{{ site.califormsvideosurl }}">Videos</a></li>
        </ul>
    </div>

    <div class="entry">
        <h5>
            <i class="fa fa-file"></i><strong>&nbsp;&nbsp;YOLO: Frequently Resetting Cyber-Physical Systems for Security</strong>
        </h5>
        <h6><a href="https://doi.org/{{ site.yolodoi }}">SPIE Defense & Commercial Sensing 2019</a>&nbsp;-&nbsp;<small>(DOI: {{ site.yolodoi }})</small></h6>
        <p></p>
        <ul>
            <li><a href="{{ site.yolopaperurl }}">Paper</a>&nbsp;&nbsp;-&nbsp;&nbsp;<small>(<a href="{{ site.yolobiburl }}">bib</a>)</small></li>
            <li><a href="{{ site.yoloslidesurl }}">Slides (SPIE)</a></li>
            <li><a href="{{ site.yoloslidesdarsurl }}">Slides (DARS)</a></li>
            <li><a href="{{ site.yolovideosurl }}">Videos</a></li>
        </ul>
    </div>

    <div class="entry">
        <h5>
            <i class="fa fa-file"></i><strong>&nbsp;&nbsp;Charting the Cyber-Physical System Security Landscape</strong>
        </h5>
        <h6>Ph.D. Candidacy Exam</h6>
        <ul>
            <li><a href="{{ site.candidacysyllabusurl }}">Syllabus</a></li>
            <li><a href="{{ site.candidacyslidesurl }}">Slides</a></li>
        </ul>
    </div>
    <div class="entry">
        <h5>
            <i class="fa fa-slideshare"></i><strong>&nbsp;&nbsp;WACI: How To Make Driving Awesome</strong>
        </h5>
        <h6><a href="https://www.asplos2018.org/program/">ACM International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS) 2018</a></h6>
        <ul>
            <li><a href="{{ site.asploswaciurl }}">Slides</a></li>
        </ul>
    </div>
    <div class="entry">
        <h5>
            <i class="fa fa-slideshare"></i><strong>&nbsp;&nbsp;Go Go Gadget! An Intro to Return Oriented Programming (ROP)</strong>
        </h5>
        <h6><a href="https://www.meetup.com/siliconvalleysecurity/events/259399649/">Silicon Valley Cyber Security Meetup</a></h6>
        <ul>
            <li><a href="{{ site.ropslidesurl }}">Slides</a></li>
        </ul>
    </div>
    <div class="entry">
        <h5>
            <i class="fa fa-code-fork"></i><strong>&nbsp;&nbsp;LLVM & Clang Pass Collection</strong>
        </h5>
        <ul>
            <li><a href="https://github.com/mayanez/llvm-clang-passes">Repo</a></li>
        </ul>
    </div>
    <div class="entry">
         <h5>
            <i class="fa fa-code-fork"></i><strong>&nbsp;&nbsp;Complete LLVM Toolchain with musl</strong>
         </h5>
         <ul>
            <li><a href="https://github.com/mayanez/Complete-LLVM-Toolchain">Repo (Coming Soon)</a></li>
         </ul>
    </div>


    </div>
  </div>
</div>
</section>
