<div class="social">
	<h4>
    {% if site.email %}
      <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.github %}
        <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}

    {% if site.linkedin %}
        <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}

    {% if site.twitter %}
        <a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}

    {% if site.stackoverflow %}
        <a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}

    {% if site.flickr %}
        <a href="http://flickr.com/photos/{{ site.flickr }}"><i class="fa fa-flickr"></i></a>
    {% endif %}

    {% if site.delicious %}
        <a href="http://delicious.com/{{ site.delicious }}"><i class="fa fa-delicious"></i></a>
    {% endif %}

	  {% if site.gpgkeys %}
        <a href="{{ site.baseurl }}keys/arroyo.me.pub.asc"><i class="fa fa-lock"></i></a>
	  {% endif %}

	</h4>
</div>
