<div class="social">
	<h4>
    {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}"><i class="fas fa-envelope"></i></a>
    {% endif %}

    {% if site.github %}
        <a href="http://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
    {% endif %}

    {% if site.linkedin %}
        <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a>
    {% endif %}

    {% if site.scholar %}
    <a href="http://scholar.google.com/citations?user={{ site.scholar }}"><i class="ai ai-google-scholar"></i></a>
    {% endif %}

    {% if site.twitter %}
        <a href="http://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
    {% endif %}

    {% if site.stackoverflow %}
        <a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fab fa-stack-overflow"></i></a>
    {% endif %}

    {% if site.flickr %}
        <a href="http://flickr.com/photos/{{ site.flickr }}"><i class="fas fa-camera-retro"></i></a>
    {% endif %}

	  {% if site.gpgkeys %}
        <a href="{{ site.baseurl }}keys/arroyo.me.pub.asc"><i class="fas fa-lock"></i></a>
	  {% endif %}

	</h4>
</div>
