---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
  
{% include header.html %}
<body>
  <main aria-label="Content">
    {% include navbar.html %}
    <div class="wrapper not-found">
      <div class="container">
        <div class="title">ISCA 21 Papers and Videos</div>
        <p class="phrase">We'll be updating this page with links. Check back in soon!</p>
        <a class="solution" href="{{ site.url }}">back home</a>
      </div>
    </div>
    {% include footer.html %}
  </main>
</body>

</html>
